{% load static %}

<!DOCTYPE html>
<html>
<head>

  <title>Signals</title>
  <link rel="stylesheet" type="text/css" href="{% static 'traffic_management_app/css/sig4.css' %}">
  <script src="{% static 'traffic_management_app/sig4.js' %}"></script>
</head>
<body>
  <div class="container d-flex align-items-center">
        <img src="{% static 'traffic_management_app/media/Picture5.jpg' %}" class="center" alt='' class="img-fluid" widht="600px" height="600px"/>
      </div>
   <div id="sig1" class="signal-horz">
   <div id="right1" class="light-horz">
    <div id="triangle" class="arrow-down"></div></div>
  <div id="left1" class="light-horz">
    <div id="triangle" class="arrow-up"></div></div>
  <div id="go1" class="light-horz">
        <div id="triangle" class="arrow-right"></div></div>
  <div id="stop1" class="light-horz"></div>
   <div id="timer1" class="timer-horz"></div>
<script type="text/javascript">call_sig1('stop1','left1','go1','right1');</script></div>


<div id="sig2" class="signal-vert">
  <div id="timer2" class="timer-vert"></div>
  <div id="stop2" class="light-vert"></div>
  <div id="go2" class="light-vert">
      <div id="triangle" class="arrow-up"></div> </div>
  <div id="left2" class="light-horz">
        <div id="triangle" class="arrow-left"></div></div>
  <div id="right2" class="light-horz">
        <div id="triangle" class="arrow-right"></div></div>
<script type="text/javascript">call_sig2('stop2','left2','go2','right2');</script></div>


<div id="sig3" class="signal-vert">
  <div id="left3" class="light-vert">
    <div id="triangle" class="arrow-left"></div></div>
  <div id="right3" class="light-vert">
    <div id="triangle" class="arrow-right"></div></div>
  <div id="go3" class="light-horz">
    <div id="triangle" class="arrow-down"></div></div>
  <div id="stop3" class="light-horz"></div>
  <div id="timer3" class="timer-vert"></div>
<script type="text/javascript">call_sig3('stop3','left3','go3','right3');</script></div>


<div id="sig4" class="signal-horz">
  <div id="timer4" class="timer-horz"></div>
   <div id="stop4" class="light-horz"></div>
  <div id="go4" class="light-horz">
    <div id="triangle" class="arrow-left"></div></div>
  <div id="left4" class="light-horz">
    <div id="triangle" class="arrow-down"></div></div>
  <div id="right4" class="light-horz">
    <div id="triangle" class="arrow-up"></div></div>
 <script type="text/javascript">call_sig4('stop4','left4','go4','right4');</script></div>

<div class="header-bottom">

        <div class="one">
            <div class="blue-rectangle">
              <p>DENSITY</p>
                <p id="den1"></p>
            </div>
          </div>

        <div class="two">
            <div class="blue-rectangle">
              <p>DENSITY</p>
                <p id="den2"></p>
            </div>
              </div>

        <div class="three">
            <div class="blue-rectangle">
              <p>DENSITY</p>
                <p id="den3"></p>
            </div>
          </div>

        <div class="four">
            <div class="blue-rectangle">
              <p>DENSITY</p>
                <p id="den4"></p>
            </div>
         </div>
 </div>

</body>
</html>
