*{
  margin: 0;
  padding: 0;}


.center{
  padding-left:25%;
  margin-top:30px;
}

.signal-vert{
  height: 92px;
  width: 20px;
  position: absolute;
  background-color: #333;
  border-radius: 10px;
  margin: 7px;
  padding: 6px;
}

.signal-horz{
  height: 20px;
  width: 90px;
  position: absolute;
  background-color: #333;
  border-radius: 10px;
  margin: 7px;
  padding: 7px;
  display: flex;
}
#left1{
  cursor: pointer;
  color:green;
}

#sig1{
  position: absolute;
  right:62%;
  top:34%;

}
#sig2{
  position: absolute;
  right:58%;
  top:74%;
}
#sig3{
  position: absolute;
  right:43%;
  top:11%;
}

#sig4{
  position: absolute;
  right:33%;
  top:65%;
}

.light-vert {
  height: 16px;
  width: 16px;
  background-color: #000;
  border-radius: 50%;
  margin: 3px auto;

}

.timer-vert{
  height: 20px;
  width: 20px;
  background-color: #000;
  margin-bottom: 5px auto;
  margin-top: 5px auto;
 }

 .light-horz {
  height: 16px;
  width: 16px;
  background-color: #000;
  border-radius: 50%;
  margin: 1px auto;

}

.timer-horz{
  height: 20px;
  width: 20px;
  background-color: #000;

 }
.arrow-down{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  margin: 3px;
  position: absolute;
 }

.arrow-left{
   border-top: 5px solid transparent;
  border-right: 6px solid #000;
  border-bottom: 5px solid transparent;
  margin: 3px;
  position: absolute;
}

.arrow-right{
  border-top: 5px solid transparent;
  border-left: 6px solid #000;
  border-bottom: 5px solid transparent;
   margin: 4.5px;
  position: absolute;
}
.arrow-up{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #000;
   margin: 3px;
  position: absolute;
}


.one{
      position: absolute;
      right:63%;
      top:27%;
    }

.two{
      position: absolute;
      right:62%;
      bottom:16%;

}

.three{
      position:absolute;
      left:57%;
      top:22%;
}

.four{
      position: absolute;
      left:58.5%;
      bottom:18%;
}

.blue-rectangle {
    background-color: #ffe6b3;
    padding: 15px 15px 15px 15px ;
    margin-bottom: 10px;
    border-radius: 5px;

}

.blue-rectangle p{
    color:rgb(3, 3, 2);
    text-align: center;
    text-transform: uppercase;
    font-size:10px;
}
